openapi: 3.1.0
info:
  title: Objectified API
  version: 0.0.1
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  description: |
    Objectified is a **time-series object database that supports dynamic schemas**.
    
    This API specification defines REST services for Objectified.  Requests made to this server can only be made
    using the `application/json` content type.
  contact:
    name: Objectified Project Members
    url: https://github.com/objectified-framework/objectified
servers:
  - url: http://api.objectified.wiki/v1
tags:
  - name: Authentication
    description: |
      Authentication services for login, logout, and refresh.  It does not require use of `JWT`, as that token will
      be provided and generated after login success.  The token returned in the login request is a **JWT token**.
  - name: Users
    description: Services for `User` accounts.
  - name: Groups
    description: |
      Manages `Group` membership that groups users into common logical groups.
      
      `Group`s are also referred to as tenancy identifiers.  Users can be members of multiple
      `Group`s, but cannot join the same `Group` twice.
paths:
  /auth:
    post:
      tags:
        - Authentication
      summary: Login service
      operationId: login
      description: Logs a user into the system via their username and password combination.
      security: []
      requestBody:
        description: The user credentials with which to login.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: The username.
                password:
                  type: string
                  description: The base64 encoded password.
      responses:
        '200':
          description: OK, returns the JWT session token that must be stored on the client.
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Authorization failed or user access disabled
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Access forbidden from using this service
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
    get:
      tags:
        - Authentication
      summary: Login refresh service
      operationId: refreshLogin
      security:
        - JWT: []
      responses:
        '204':
          description: No content, refresh succeeded
        '401':
          description: Authorization failed, JWT token most likely invalid
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Access forbidden or login timed out
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
    delete:
      tags:
        - Authentication
      summary: Logout service
      operationId: logout
      security:
        - JWT: []
      responses:
        '204':
          description: No content, logout succeeded
        '401':
          description: Authorization failed, JWT token most likely invalid
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Access forbidden or login timed out
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /users:
    get:
      tags:
        - Users
      summary: Returns a list of all users.
      operationId: listUsers
      description: |
        Returns a list of all users registered in Objectified, regardless of
        enabled status.  Only users with administrative privileges may list users.
      security:
        - JWT: []
      responses:
        '200':
          description: An array of users registered in Objectified.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '401':
          description: Authorization failed, JWT token most likely invalid
        '403':
          description: Access forbidden from using this service
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
    post:
      tags:
        - Users
      summary: Creates a new user.
      operationId: createUser
      description: Creates a new `User` record in the Objectified platform.
      security:
        - JWT: []
      requestBody:
        description: The `User` object to create.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '201':
          description: Created successfully
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '409':
          description: Conflict
  /users/{userId}:
    get:
      tags:
        - Users
      summary: Returns a user by ID.
      operationId: getUserById
      description: Retrieves a user by its user ID.
      security:
        - JWT: []
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: integer
            format: int64
          description: The ID of the user.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
        '404':
          description: Not found
    put:
      tags:
        - Users
      summary: Edit a user.
      operationId: editUser
      description: |
        Applies changes to a user, only changing the values supplied in the
        request body. Only administrators may make changes to user records
        that do not belong to them. Use the `PUT` method to reactivate users
        who have been deleted.
      security:
        - JWT: []
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: integer
            format: int64
          description: The ID of the user.
      requestBody:
        description: The user changes to apply.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '204':
          description: No content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
    delete:
      tags:
        - Users
      summary: Deletes (disables) a user.
      operationId: disableUser
      description: Disables a user.
      security:
        - JWT: []
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: integer
            format: int64
          description: The ID of the user.
      responses:
        '204':
          description: No content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
  /groups:
    get:
      tags:
        - Groups
      summary: Returns a list of Groups.
      operationId: listGroups
      description: Returns a list of all `Group`s registered.
      security:
        - JWT: []
      responses:
        '200':
          description: An array of `Group`s.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Group'
        '401':
          description: Unauthorized
    post:
      tags:
        - Groups
      summary: Creates a new Group.
      operationId: createGroup
      description: Creates a new `Group`.
      security:
        - JWT: []
      requestBody:
        description: The `Group` object to create.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
      responses:
        '201':
          description: Created successfully
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
  /groups/{groupId}:
    get:
      tags:
        - Groups
      summary: Returns a Group by ID.
      operationId: getGroupById
      description: Returns a `Group` object by its `Group` ID.
      security:
        - JWT: []
      parameters:
        - in: path
          name: groupId
          required: true
          schema:
            type: integer
            format: int64
          description: The ID of the `Group`.
      responses:
        '200':
          description: A group object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
    put:
      tags:
        - Groups
      summary: Edits a Group by ID.
      operationId: editGroupById
      description: Edits a `Group` object by its `Group` ID.
      security:
        - JWT: []
      parameters:
        - in: path
          name: groupId
          required: true
          schema:
            type: integer
            format: int64
          description: The ID of the `Group`.
      requestBody:
        description: The `Group` object to create.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
      responses:
        '204':
          description: No content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
    delete:
      tags:
        - Groups
      summary: Deletes a Group by ID
      operationId: deleteGroupById
      description: Deletes a `Group` and its members by `Group` ID.
      security:
        - JWT: []
      parameters:
        - in: path
          name: groupId
          required: true
          schema:
            type: integer
            format: int64
          description: The ID of the `Group`.
      responses:
        '204':
          description: No content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
  /groups/{groupId}/users:
    post:
      tags:
        - Groups
      summary: Adds Users to a Group.
      operationId: addUsersToGroup
      description: Adds `User`s by ID to a `Group` membership by the `Group` ID.
      security:
        - JWT: []
      parameters:
        - in: path
          name: groupId
          required: true
          schema:
            type: array
            items:
              type: integer
              format: int64
          description: The IDs of the `Group`s.
      requestBody:
        description: The parameters containing the `User` and `Group` IDs.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                users:
                  type: array
                  items:
                    type: integer
                    format: int64
                  description: The `User` IDs.
      responses:
        '201':
          description: Created successfully
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
    delete:
      tags:
        - Groups
      summary: Removes Users from a Group.
      operationId: deleteUsersFromGroup
      description: Removes `User`s by ID from a `Group` membership by the `Group` ID.
      security:
        - JWT: []
      parameters:
        - in: path
          name: groupId
          required: true
          schema:
            type: array
            items:
              type: integer
              format: int64
          description: The IDs of the `Group`s.
      requestBody:
        description: The parameters containing the `User` and `Group` IDs.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                users:
                  type: array
                  items:
                    type: integer
                    format: int64
                  description: The `User` IDs.
      responses:
        '204':
          description: No content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
components:
  securitySchemes:
    JWT:
      type: http
      description: JWT Authorization header using Bearer scheme.
      scheme: bearer
      bearerFormat: JWT
  schemas:
    User:
      type: object
      required:
        - username
        - password
        - emailAddress
      description: |
        `User` is a user account that can access the system.  It contains the user's username, password (encrypted),
        email address, a verification flag, a status, and any profile data.
      properties:
        id:
          type: integer
          format: int64
          description: The numerical ID of the user.  (Auto-numbering, ignored on create.)
        username:
          type: string
          maxLength: 80
          description: Username
          pattern: '^[A-Za-z0-9]*$'
        password:
          type: string
          format: password
          maxLength: 255
          description: Password of any type encoded in `base64` format
        emailAddress:
          type: string
          minLength: 10
          maxLength: 255
          format: email
          description: Valid e-mail address for the user - must be at least 10 characters in length.
        verified:
          type: boolean
          description: Indicates whether or not the user record has verified their e-mail address.
          default: false
        status:
          type: string
          enum:
            - enabled
            - disabled
          description: A status indicator for the user.
          default: enabled
        createDate:
          type: string
          format: date-time
          description: Creation date and time of the user.
        data:
          type: object
          description: A JSON payload that describes more information about the user in a freeform manner.
    Group:
      type: object
      required:
        - name
        - description
      description: |
        `Group` is a tenancy grouping object.  It groups `User`s and `Namespace`s 
        together, defining the access relationship between the two.
      properties:
        id:
          type: integer
          format: int64
          description: The numerical ID of the group.  (Auto-numbering, ignored on create.)
        name:
          type: string
          description: Alphanumeric common name of the group, cannot start with a number.
          maxLength: 80
          pattern: '^[A-Za-z][A-Za-z0-9]*$'
        description:
          type: string
          description: |
            A short description describing the group.  CommonMark _MAY_ be used
            to describe the group.
          maxLength: 4096
        createDate:
          type: string
          format: date-time
          description: Creation date and time of the user.
    ErrorMessage:
      type: object
      required:
        - type
        - title
        - detail
      description: |
        This follows the IETF devised RFC-7807, which creates a generalized
        error-handling schema.  It contains information about the HTTP status code
        returned, and _may_ contain associated data that could be used to recreate the
        request that caused the failure.  The description of the schema is taken
        from the RFC-9457 draft.
      properties:
        type:
          type: string
          format: uri-reference
          description: A URI reference that identifies the problem type.
        title:
          type: string
          description: A brief, human-readable summary of the problem type.
        status:
          type: number
          format: int32
          description: The HTTP status codew generated by the origin server for this occurrence of the problem.
          minimum: 100
          maximum: 599
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          format: uri-reference
          description: |
            A URI reference that identifies the specific occurrence of the problem.
            It may or may not yield further information if dereferenced.
