openapi: 3.1.0
info:
  title: Objectified API
  version: 0.0.1
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  description: |
    Objectified is a **time-series object database that supports dynamic schemas**.

    Objectified can also be utilized as a _Schema Store_, providing schema information
    for a project, framework, or platform.

    This API specification defines REST services for Objectified.  Requests made to
    this server can only be made using the `application/json` content type.
  contact:
    name: Objectified Project Members
    url: https://github.com/objectified-framework/objectified
servers:
  - url: http://api.objectified.wiki/v1
tags:
  - name: Authentication
    description: |
      Authentication services for login, logout, and refresh.  It does not require use of `JWT`, as that token will
      be provided and generated after login success.  The token returned in the login request is a **JWT token**.
  - name: Users
    description: Services for `User` accounts.
  - name: Groups
    description: |
      Manages `Group` membership that groups users into common logical groups.

      `Group`s are also referred to as tenancy identifiers.  Users can be members of multiple
      `Group`s, but cannot join the same `Group` twice.
  - name: Namespaces
    description: |
      `Namespace`s are names that are used to organize groups of objects.  They are used 
      to prevent name collisions that can occur when multiple organizations may 
      use similar names to describe different object definitions.

      A `Namespace` ensures that all of a given set of objects have unique names so 
      that they may easily be identified and separated under a common group.

      For instance, one `Namespace`'s definition of a `User` may differ from another 
      `Namespace`'s `User`. Same with a `Car`, `Bike`, or `Computer`.

      A reserved `Namespace` is a core `Namespace` that is used by Objectified
      internally.  These `Namespaces` cannot be altered, but they can be referred to 
      in other `Namespace`s, should you choose to import them directly into your
      `Namespace`.
  - name: Classes
    description: |
      `Class`es are templates that define the _shape_ (or _schema_) of data that 
      can be contained in a record (or instance).  For more information on best 
      practices on creating and updating classes, please 
      [refer to this documentation](https://soon-to-be-created.com)
      for more detailed information.
  - name: DataTypes
    description: |
      `DataType`s describe the types of data that can be stored in fields.

      `DataType`s can contain arrays of data, enumerations, regular expressions, and
      much more.

      Reserved `DataType`s cannot be modified or removed, as they are considered 
      core to the Objectified platform.  Normal `DataType`s are specific to their
      `Namespace`.  Core `DataType`s are available system-wide, so use with care.

      The most common usage for `DataType`s outside of the core `DataType`s is in
      defining custom enumeration values.  Other `DataType`s like custom filters and
      regular expressions can be created, but these occasions are generally rare.

      Please [refer to this documentation](https://soon-to-be-created.com)
      for more detailed on best practices regarding `DataType` and `Field` definitions.
  - name: Fields
    description: |
      `Field`s are storage objects that utilize a `DataType` definition.
      
      `Field`s define the types of data that a class property can contain.  `Field`s
      can be reused.  `Field`s are not indexed, whereas `Properties` can be.
      
      Please
      [refer to this documentation](https://soon-to-be-created.com)
      for more detailed on best practices regarding `DataType` and `Field` definitions.
  - name: Properties
    description: |
      `Properties` are member stores that are used by `Class`es to store data 
      defined by a `Field`.
      
      `Properties` extend `Fields` by adding items such as nullability,
      default values, required flags, indexing, and so on.  `Properties` can also be
      objects that implement other `Properties` (sub-properties).
  - name: Instances
    description: |
      `Instances` are records created using `Class` definitions as templates.
      
      Instance data contains data associated with an `Instance`, organized by
      version number and record date.
  - name: Links
    description: |
      `Link`s describe data between `Class`es that have a commonality or logical
      relationship.
      
      For instance, a `Car` might link a `Dealership` together, or an `Owner`.
      `House`s may have `Mortgage`s, and so on.  `Link`s contain a left side (t1)
      and a right side (t2), and link two `Class`es together.
      
      `Link`s may contain links to themselves (ie. a parent/child relationship.)
paths:
  /auth:
    post:
      tags:
        - Authentication
      summary: Login service
      operationId: login
      description: Logs a user into the system via their username and password combination.
      security: []
      requestBody:
        description: The user credentials with which to login.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: The username.
                password:
                  type: string
                  description: The base64 encoded password.
      responses:
        "200":
          description: OK, returns the JWT session token that must be stored on the client.
          content:
            text/plain:
              schema:
                type: string
        "401":
          description: Authorization failed or user access disabled
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "403":
          description: Access forbidden from using this service
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
    get:
      tags:
        - Authentication
      summary: Login refresh service
      operationId: refreshLogin
      security:
        - JWT: []
      responses:
        "204":
          description: No content, refresh succeeded
        "401":
          description: Authorization failed, JWT token most likely invalid
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "403":
          description: Access forbidden or login timed out
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
    delete:
      tags:
        - Authentication
      summary: Logout service
      operationId: logout
      security:
        - JWT: []
      responses:
        "204":
          description: No content, logout succeeded
        "401":
          description: Authorization failed, JWT token most likely invalid
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "403":
          description: Access forbidden or login timed out
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
  /users:
    get:
      tags:
        - Users
      summary: Returns a list of all users.
      operationId: listUsers
      description: |
        Returns a list of all users registered in Objectified, regardless of
        enabled status.  Only users with administrative privileges may list users.
      security:
        - JWT: []
      responses:
        "200":
          description: An array of users registered in Objectified.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/User"
        "401":
          description: Authorization failed, JWT token most likely invalid
        "403":
          description: Access forbidden from using this service
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
    post:
      tags:
        - Users
      summary: Creates a new user.
      operationId: createUser
      description: Creates a new `User` record in the Objectified platform.
      security:
        - JWT: []
      requestBody:
        description: The `User` object to create.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        "201":
          description: Created successfully
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "409":
          description: Conflict
  /users/{userId}:
    get:
      tags:
        - Users
      summary: Returns a user by ID.
      operationId: getUserById
      description: Retrieves a user by its user ID.
      security:
        - JWT: []
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: integer
            format: int64
          description: The ID of the user.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          description: Unauthorized
        "404":
          description: Not found
    put:
      tags:
        - Users
      summary: Edit a user.
      operationId: editUser
      description: |
        Applies changes to a user, only changing the values supplied in the
        request body. Only administrators may make changes to user records
        that do not belong to them. Use the `PUT` method to reactivate users
        who have been deleted.
      security:
        - JWT: []
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: integer
            format: int64
          description: The ID of the user.
      requestBody:
        description: The user changes to apply.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        "204":
          description: No content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not found
        "409":
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
    delete:
      tags:
        - Users
      summary: Deletes (disables) a user.
      operationId: disableUser
      description: Disables a user.
      security:
        - JWT: []
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: integer
            format: int64
          description: The ID of the user.
      responses:
        "204":
          description: No content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not found
  /groups:
    get:
      tags:
        - Groups
      summary: Returns a list of Groups.
      operationId: listGroups
      description: Returns a list of all `Group`s registered.
      security:
        - JWT: []
      responses:
        "200":
          description: An array of `Group`s.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Group"
        "401":
          description: Unauthorized
    post:
      tags:
        - Groups
      summary: Creates a new Group.
      operationId: createGroup
      description: Creates a new `Group`.
      security:
        - JWT: []
      requestBody:
        description: The `Group` object to create.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Group"
      responses:
        "201":
          description: Created successfully
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "409":
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
  /groups/{groupId}:
    get:
      tags:
        - Groups
      summary: Returns a Group by ID.
      operationId: getGroupById
      description: Returns a `Group` object by its `Group` ID.
      security:
        - JWT: []
      parameters:
        - in: path
          name: groupId
          required: true
          schema:
            type: integer
            format: int64
          description: The ID of the `Group`.
      responses:
        "200":
          description: A group object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not found
    put:
      tags:
        - Groups
      summary: Edits a Group by ID.
      operationId: editGroupById
      description: Edits a `Group` object by its `Group` ID.
      security:
        - JWT: []
      parameters:
        - in: path
          name: groupId
          required: true
          schema:
            type: integer
            format: int64
          description: The ID of the `Group`.
      requestBody:
        description: The `Group` object to create.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Group"
      responses:
        "204":
          description: No content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not found
        "409":
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
    delete:
      tags:
        - Groups
      summary: Deletes a Group by ID
      operationId: deleteGroupById
      description: Deletes a `Group` and its members by `Group` ID.
      security:
        - JWT: []
      parameters:
        - in: path
          name: groupId
          required: true
          schema:
            type: integer
            format: int64
          description: The ID of the `Group`.
      responses:
        "204":
          description: No content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not found
  /groups/{groupId}/users:
    post:
      tags:
        - Groups
      summary: Adds Users to a Group.
      operationId: addUsersToGroup
      description: Adds `User`s by ID to a `Group` membership by the `Group` ID.
      security:
        - JWT: []
      parameters:
        - in: path
          name: groupId
          required: true
          schema:
            type: integer
            format: int64
          description: The ID of the `Group`s.
      requestBody:
        description: The parameters containing the `User` and `Group` IDs.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                users:
                  type: array
                  items:
                    type: integer
                    format: int64
                  description: The `User` IDs.
      responses:
        "201":
          description: Created successfully
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "409":
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
    delete:
      tags:
        - Groups
      summary: Removes Users from a Group.
      operationId: deleteUsersFromGroup
      description: Removes `User`s by ID from a `Group` membership by the `Group` ID.
      security:
        - JWT: []
      parameters:
        - in: path
          name: groupId
          required: true
          schema:
            type: array
            items:
              type: integer
              format: int64
          description: The IDs of the `Group`s.
      requestBody:
        description: The parameters containing the `User` and `Group` IDs.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                users:
                  type: array
                  items:
                    type: integer
                    format: int64
                  description: The `User` IDs.
      responses:
        "204":
          description: No content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not found
  /namespaces:
    get:
      tags:
        - Namespaces
      summary: Returns a list of all namespaces.
      operationId: listNamespaces
      description: Returns a list of all namespaces registered in Objectified, regardless of enabled flag status.
      security:
        - JWT: []
      responses:
        "200":
          description: An array of namespaces registered in Objectified.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Namespace"
        "401":
          description: Unauthorized
    post:
      tags:
        - Namespaces
      summary: Creates a new namespace.
      operationId: createNamespace
      description: Creates a new namespace.
      security:
        - JWT: []
      requestBody:
        description: The namespace object to create.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Namespace"
      responses:
        "201":
          description: Created successfully
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "409":
          description: Conflict
  /namespaces/{namespaceId}:
    get:
      tags:
        - Namespaces
      summary: Retrieves a namespace by ID.
      operationId: getNamespaceById
      description: Gets a namespace by its serial ID.
      security:
        - JWT: []
      parameters:
        - in: path
          name: namespaceId
          required: true
          schema:
            type: integer
          description: The ID of the namespace to retrieve.
      responses:
        "200":
          description: OK, returns the `Namespace` object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Namespace"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not found
    put:
      tags:
        - Namespaces
      summary: Edit a namespace.
      operationId: editNamespace
      description: Applies changes to a `Namespace`, only changing the values supplied in the request body.
      security:
        - JWT: []
      parameters:
        - in: path
          name: namespaceId
          required: true
          schema:
            type: integer
          description: The ID of the namespace to retrieve.
      requestBody:
        description: The namespace changes to apply.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Namespace"
      responses:
        "204":
          description: No content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not found
        "409":
          description: Conflict
    delete:
      tags:
        - Namespaces
      summary: Deletes (disables) a namespace.
      operationId: disableNamespace
      description: Disables a namespace.
      security:
        - JWT: []
      parameters:
        - in: path
          name: namespaceId
          required: true
          schema:
            type: integer
          description: The ID of the namespace to disable.
      responses:
        "204":
          description: No content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not found
  /namespaces/{namespaceId}/groups:
    post:
      tags:
        - Namespaces
      summary: Adds Group Membership to a Namespace.
      operationId: addGroupsToNamespace
      description: Adds `Group`s by ID to a `Namespace` membership by the `Namespace` ID.
      security:
        - JWT: []
      parameters:
        - in: path
          name: namespaceId
          required: true
          schema:
            type: integer
            format: int64
          description: The ID of the `Namespace`.
      requestBody:
        description: The parameters containing the `Group` IDs.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                users:
                  type: array
                  items:
                    type: integer
                    format: int64
                  description: The `Group` IDs.
      responses:
        "201":
          description: Created successfully
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "409":
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
    delete:
      tags:
        - Namespaces
      summary: Removes Group Membership to a Namespace.
      operationId: removeGroupsFromNamespace
      description: Removes `Group`s by ID from a `Namespace` membership by the `Namespace` ID.
      security:
        - JWT: []
      parameters:
        - in: path
          name: namespaceId
          required: true
          schema:
            type: integer
            format: int64
          description: The ID of the `Namespace`.
      requestBody:
        description: The parameters containing the `Group` IDs.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                users:
                  type: array
                  items:
                    type: integer
                    format: int64
                  description: The `Group` IDs.
      responses:
        "204":
          description: No content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "409":
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
  /namespaces/{namespaceId}/users:
    post:
      tags:
        - Namespaces
      summary: Adds User Membership to a Namespace.
      operationId: addUsersToNamespace
      description: Adds `User`s by ID to a `Namespace` membership by the `Namespace` ID.
      security:
        - JWT: []
      parameters:
        - in: path
          name: namespaceId
          required: true
          schema:
            type: integer
            format: int64
          description: The ID of the `Namespace`.
      requestBody:
        description: The parameters containing the `User` IDs.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                users:
                  type: array
                  items:
                    type: integer
                    format: int64
                  description: The `User` IDs.
      responses:
        "201":
          description: Created successfully
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "409":
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
    delete:
      tags:
        - Namespaces
      summary: Removes User Membership from a Namespace.
      operationId: deleteUsersFromNamespace
      description: Removes `User`s by ID to a `Namespace` membership by the `Namespace` ID.
      security:
        - JWT: []
      parameters:
        - in: path
          name: namespaceId
          required: true
          schema:
            type: integer
            format: int64
          description: The ID of the `Namespace`.
      requestBody:
        description: The parameters containing the `User` IDs.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                users:
                  type: array
                  items:
                    type: integer
                    format: int64
                  description: The `User` IDs.
      responses:
        "204":
          description: No content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "409":
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
  /namespaces/{namespaceId}/classes:
    get:
      tags:
        - Namespaces
      summary: Returns a list of Classes by Namespace ID.
      operationId: listClassesByNamespace
      description: |
        Returns a list of all `Class`es registered in the given `Namespace` ID, 
        regardless of status.
      security:
        - JWT: []
      parameters:
        - in: path
          name: namespaceId

          required: true
          schema:
            type: integer
          description: The ID of the `Namespace`.
      responses:
        '200':
          description: An array of `Class`es.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Class'
        '204':
          description: No content
        '401':
          description: Unauthorized
        '404':
          description: Not found
    post:
      tags:
        - Namespaces
      summary: Assigns Classes to a Namespace.
      operationId: addClassesToNamespace
      description: Creates a new class.
      security:
        - JWT: [ ]
      parameters:
        - in: path
          name: namespaceId
          required: true
          schema:
            type: integer
          description: The ID of the `Namespace`.
      requestBody:
        description: The `Class`es by ID to add to the `Namespace`.
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                format: int64
      responses:
        '201':
          description: Created successfully
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '409':
          description: Conflict
    delete:
      tags:
        - Namespaces
      summary: Removes Classes from a Namespace.
      operationId: deleteClassesFromNamespace
      description: Removes `Class`es by ID to a `Namespace` membership by the `Namespace` ID.
      security:
        - JWT: []
      parameters:
        - in: path
          name: namespaceId
          required: true
          schema:
            type: integer
            format: int64
          description: The ID of the `Namespace`.
      requestBody:
        description: The parameters containing the `Class` IDs.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                users:
                  type: array
                  items:
                    type: integer
                    format: int64
                  description: The `Class` IDs.
      responses:
        "204":
          description: No content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "409":
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
  /classes:
    post:
      tags:
        - Classes
      summary: Creates a new class.
      operationId: createClass
      description: Creates a new class.
      security:
        - JWT: [ ]
      requestBody:
        description: The class object to create.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Class'
      responses:
        '201':
          description: Created successfully
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '409':
          description: Conflict
  /classes/{classId}:
    get:
      tags:
        - Classes
      summary: Returns a class definition by ID.
      operationId: getClassById
      description: Returns a class definition including the class and its properties.
      security:
        - JWT: [ ]
      parameters:
        - in: path
          name: classId
          required: true
          schema:
            type: integer
          description: The ID of the class.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Class'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
    delete:
      tags:
        - Classes
      summary: Deletes (disables) a class.
      operationId: disableClass
      description: Disables a class.
      security:
        - JWT: [ ]
      parameters:
        - in: path
          name: classId
          required: true
          schema:
            type: integer
          description: The ID of the class to disable.
      responses:
        '204':
          description: No content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
    put:
      tags:
        - Classes
      summary: Edits a Class.
      operationId: editClass
      description: Makes edits to a `Class`.
      security:
        - JWT: [ ]
      parameters:
        - in: path
          name: classId
          required: true
          schema:
            type: integer
          description: The ID of the class to enable.
      responses:
        '200':
          description: OK, returns the `Class` object after editing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Class'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
components:
  securitySchemes:
    JWT:
      type: http
      description: JWT Authorization header using Bearer scheme.
      scheme: bearer
      bearerFormat: JWT
  schemas:
    User:
      type: object
      required:
        - username
        - password
        - emailAddress
      description: |
        `User` is a user account that can access the system.  It contains the user's username, password (encrypted),
        email address, a verification flag, a status, and any profile data.
      properties:
        id:
          type: integer
          format: int64
          description: The numerical ID of the user.  (Auto-numbering, ignored on create.)
        username:
          type: string
          maxLength: 80
          description: Username
          pattern: "^[A-Za-z0-9]*$"
        password:
          type: string
          format: password
          maxLength: 255
          description: Password of any type encoded in `base64` format
        emailAddress:
          type: string
          minLength: 10
          maxLength: 255
          format: email
          description: Valid e-mail address for the user - must be at least 10 characters in length.
        verified:
          type: boolean
          description: Indicates whether or not the user record has verified their e-mail address.
          default: false
        status:
          type: string
          enum:
            - enabled
            - disabled
          description: A status indicator for the user.
          default: enabled
        createDate:
          type: string
          format: date-time
          description: Creation date and time of the user.
        data:
          type: object
          description: A JSON payload that describes more information about the user in a freeform manner.
    Group:
      type: object
      required:
        - name
        - description
      description: |
        `Group` is a tenancy grouping object.  It groups `User`s and `Namespace`s 
        together, defining the access relationship between the two.
      properties:
        id:
          type: integer
          format: int64
          description: The numerical ID of the group.  (Auto-numbering, ignored on create.)
        name:
          type: string
          description: Alphanumeric common name of the group, cannot start with a number.
          maxLength: 80
          pattern: "^[A-Za-z][A-Za-z0-9]*$"
        description:
          type: string
          description: |
            A short description describing the group.  CommonMark _MAY_ be used
            to describe the group.
          maxLength: 4096
        createDate:
          type: string
          format: date-time
          description: Creation date and time of the user.
    Namespace:
      type: object
      required:
        - name
        - description
      description: |
        `Namespace` is an object grouping definition.  It allows for objects, `Group`s,
        `User`s, and other objects to be grouped in a common name.  It also prevents
        `Group`s and `User`s from accessing objects outside of namespaces to which
        they are not members.  Further access is controlled through `ABAC` definitions.
      properties:
        id:
          type: integer
          format: int64
          description: The numerical ID of the namespace.  (Auto-numbering, ignored on create.)
        creatorId:
          type: integer
          format: int64
          description: The numerical ID of the user ID that created this object.  This is pulled from the session, and cannot be modified by any services.  Values supplied to this field at creation or edit time will be ignored.
        name:
          type: string
          minLength: 10
          maxLength: 80
          description: A simple identifying name of the namespace following pattern `A-Za-z0-9`, should be camel-case.
          pattern: "^[A-Za-z0-9]*$"
        description:
          type: string
          maxLength: 4096
          description: The description of the namespace.
        status:
          type: string
          enum:
            - enabled
            - disabled
          description: A status indicator for the namespace.
          default: enabled
        createDate:
          type: string
          format: date-time
          description: Creation date and time.  Auto-filled, not required.
    Class:
      type: object
      required:
        - namespaceId
        - ownerId
        - name
        - description
      description: |
        `Class` is a store object definition.  It contains the name of a `Class` that
        can be instantiated where data can be stored in Objectified as an `Instance`
        of data.
      properties:
        id:
          type: integer
          format: int64
          description: The numerical ID of the `Class`.  (Auto-numbering, ignored on create.)
        namespaceId:
          type: integer
          format: int64
          description: The numerical ID of the namespace to which this class belongs.
        ownerId:
          type: integer
          format: int64
          description: The numerical ID of the user that created this class definition.
        name:
          type: string
          description: Alphanumeric common name of the class, cannot start with a number.
          minLength: 3
          maxLength: 80
          pattern: '^[A-Za-z][A-Za-z0-9]*$'
        description:
          type: string
          description: A short description describing the class.  CommonMark allowed here.
          maxLength: 4096
        status:
          type: string
          enum:
            - enabled
            - disabled
          description: A status of the `Class`.
          default: enabled
        createDate:
          type: string
          format: date-time
          description: Creation date and time.  Ignored if supplied, handled by the service.
        updateDate:
          type: string
          format: date-time
          description: Update date and time.  Ignored if supplied, handled by the service.
        disableDate:
          type: string
          format: date-time
          description: Disabled date and time.  Ignored if supplied, handled by the service.
    ErrorMessage:
      type: object
      required:
        - type
        - title
        - detail
      description: |
        This follows the IETF devised RFC-7807, which creates a generalized
        error-handling schema.  It contains information about the HTTP status code
        returned, and _may_ contain associated data that could be used to recreate the
        request that caused the failure.  The description of the schema is taken
        from the RFC-9457 draft.
      properties:
        type:
          type: string
          format: uri-reference
          description: A URI reference that identifies the problem type.
        title:
          type: string
          description: A brief, human-readable summary of the problem type.
        status:
          type: number
          format: int32
          description: The HTTP status codew generated by the origin server for this occurrence of the problem.
          minimum: 100
          maximum: 599
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          format: uri-reference
          description: |
            A URI reference that identifies the specific occurrence of the problem.
            It may or may not yield further information if dereferenced.
